Repository cortip/isomera, pull requests merged in 2023-12, with the labels that each got.

#120 #107 [API] [PLATFORM] Add build phase to CI
  .github/workflows/pr_all_affected_test.yml
  .github/workflows/pr_push_api_build.yml
  .github/workflows/pr_push_platform_build.yml
Labels: github_actions, tooling

#131 test: fix unit tests for API #108[wip]
  apps/api/src/auth/auth.controller.spec.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/guards/local-auth.guard.spec.ts
  apps/api/src/auth/interceptors/token.interceptor.spec.ts
  apps/api/src/mailer/mailer.service.spec.ts
  apps/api/src/user/confirm-code.service.spec.ts
  apps/api/src/user/is-user-already-exist.validator.spec.ts
  apps/api/src/user/profile.controller.spec.ts
  apps/api/src/user/user.service.spec.ts
  package.json
Labels: github_actions, back-end, tooling

#145 Adding new Expo React Native app
  .github/workflows/pretty_linted_code.yml
  .gitignore
  README.md
  app.json
  apps/landing/tsconfig.json
  apps/mobile-e2e/.babelrc
  apps/mobile-e2e/.detoxrc.json
  apps/mobile-e2e/.eslintrc.json
  apps/mobile-e2e/jest.config.json
  apps/mobile-e2e/project.json
  apps/mobile-e2e/src/app.spec.ts
  apps/mobile-e2e/test-setup.ts
  apps/mobile-e2e/tsconfig.e2e.json
  apps/mobile-e2e/tsconfig.json
  apps/mobile/.eslintrc.json
  apps/mobile/app.json
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/favicon.png
  apps/mobile/assets/icon.png
  apps/mobile/assets/splash.png
  apps/mobile/babel.config.js
  apps/mobile/eas.json
  apps/mobile/index.js
  apps/mobile/jest.config.ts
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/project.json
  apps/mobile/src/app/App.spec.tsx
  apps/mobile/src/app/App.tsx
  apps/mobile/test-setup.ts
  apps/mobile/tsconfig.app.json
  apps/mobile/tsconfig.json
  apps/mobile/tsconfig.spec.json
  babel.config.json
  package.json
  tools/scripts/eas-build-post-install.mjs
  tools/scripts/eas-build-pre-install.mjs
  tsconfig.base.json
  yarn.lock
Labels: mobile-app

#157 #68 production dockerfiles builds pushing in ci
  .dockerignore
  .env.example
  .github/workflows/docker_build_push.yml
  .prettierignore
  apps/api/project.json
  apps/api/src/config/typeorm.config.ts
  docker/deployments/api.dockerfile
  docker/deployments/start-container
  docker/deployments/supervisord.conf
  nx.json
  package.json
Labels: github_actions, back-end, tooling
